*.manifest
*.suo
.vs/
SharedBinariesOutput/
OTACHTTPIncoming/obj/
OTACHTTPIncoming/bin/
OTACMonitoring/obj/
OTACMonitoring/bin/
OTACService/obj/
OTACService/bin/
OTACSMPPIncoming/obj/
OTACSMPPIncoming/bin/
WhatsAppEmulatorController/obj/
WhatsAppEmulatorController/bin/
WhatsAppWebClient/obj/
WhatsAppWebClient/bin/
OTACWebPortal/obj/
OTACWebPortal/bin/
OTACPacket/obj/
OTACPacket/bin/
packages
*.suo
*.user
